{% if section.settings.show_overlay %}
  <style>
    #Slideshow-{{ section.id }} .slideshow__overlay::before {
      background-color: {{ section.settings.overlay_color }};
      opacity: {{ section.settings.overlay_opacity }};
    }
    
    #Slideshow-{{ section.id }} .slideshow__heading,
    #Slideshow-{{ section.id }} .slideshow__button-label {
      color: {{ section.settings.overlay_text }};
    }
  </style>
{% endif %}


{% comment %}{#{{ '1e1cdf06c3bae9413b7e2b78c9d8b0be.jpg' | uploads_img_url: '300x' }}#}{% endcomment %}

<div data-section-id="{{ section.id }}" data-section-type="create-section">
  <div id="Slideshow-{{ section.id }}" class="slideshow">
    <div class="slideshow__slides">
      {% for block in section.blocks %}
        {% assign product = all_products[block.settings.frame] %}
        {% for image in product.images %}
          {% if image.src contains 'left' %}
            {% assign frame_left = image.src  %}
          {% elsif image.src contains 'center' %}
            {% assign frame_center = image.src  %}
          {% elsif image.src contains 'right' %}
            {% assign frame_right = image.src  %}
          {% endif %}
        {% endfor %}
        
        <div id="create__slide--{{ block.id }}" data-section-id="{{ section.id }}" data-block-id="{{ block.id }}" class="create__block slideshow__slide slideshow__slide--{{ block.id }}{% if forloop.first %} slideshow__slide--active{% endif %}{% if section.settings.show_overlay %} slideshow__overlay{% endif %}" {% unless forloop.first %}aria-hidden="true"{% endunless %} {{ block.shopify_attributes }}>
          
          
          <style>
            .slideshow__image--{{ block.id }} {
              object-position: {{ block.settings.alignment }};
              font-family: "object-fit: cover; object-position: {{ block.settings.alignment }};";
            }
            
            .frame__img--{{ block.id }} {
              background:
                  url('{{ frame_left | product_img_url: '2000x' }}') left/auto 100% no-repeat, /* On top, like z-index: 4; */
                  url('{{ frame_right | product_img_url: '2000x' }}') right/auto 100% no-repeat, /* like z-index: 3; */
                  url('{{ frame_center | product_img_url: '2000x' }}') center/100% 100% no-repeat;
              
            }
          </style>
          {% assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
          <img class="slideshow__image slideshow__image--{{ block.id }}" src="{{ block.settings.image | img_url: '2000x' }}" alt="{{ block.settings.image.alt | escape }}">
  
  
          <label for="create__input--{{ block.id }}" class="create__label text-center">{{ block.settings.label }}</label>
          <figure class="frame" data-block-id="{{ block.id }}">
            <div class="frame__wrapper frame__img--{{ block.id }} tada scroll" data-scroll-delay="4s">
              <div class="frame__input">
                <input id="create__input--{{ block.id }}" name="create__input--{{ block.id }}" type="text" class="create__input" placeholder="{{ block.settings.placeholder }}" maxlength="10" data-theme-style="{{ block.settings.theme }}" autocomplete="off">
              </div>
              <div id="create__image-wrapper--{{ block.id }}" class="create__image-wrapper">
                {% for i in (0..8) %}
                  <a data-letter-position="{{ i }}" data-theme-style="{{ block.settings.theme }}" id="create__image--{{ block.id }}--{{ i }}" class="create__image" href="#"></a>
                {% endfor %}
              </div>
            </div>
            <div class="frame__button">
              <div class="frame__wrapper">
                <button href="{{ block.settings.button_link }}" class="button button--moema button--text-thick button--text-upper button--size-s">{{ block.settings.button }}</button>
              </div>
            </div>
            <form action="/cart/add" enctype="multipart/form-data" method="post" data-block-id="{{ block.id }}">
              <div class="create__product-data"> <!-- TODO Add visually-hidden after development  -->
                
                <div class="create__product-data visually-hidden">
                  {% for variant in product.variants %}
                    <input id="data__frame--{{ block.id }}--{{ variant.option1 }}" type="text" name="id" value="{{ variant.id }}" data-frame-size="{{ variant.option1 }}" class="data__frame" data-block-id="{{ block.id }}" disabled="disabled">
                  {% endfor %}
                </div>
                <div class="create__product-data visually-hidden">
                  {% for i in (0..8) %}
                    <input id="data__letter--{{ block.id }}--{{ i }}" type="text" name="properties[Letter {{ i | plus: 1 }}]" value="" data-letter-position="{{ i }}" class="data__letter" data-block-id="{{ block.id }}" disabled="disabled">
                  {% endfor %}
                </div>
                {% comment %}{#<input type="hidden" name="return_to" value="/"/>#}{% endcomment %}
                <button id="submit--{{ block.id }}" type="submit" name="add">Submit</button>
              </div>
            </form>
          </figure>
        </div>
      
      {% endfor %}
    </div>
    
    {% if section.blocks.size > 1 %}
      <button class="slideshow__button--next critical-hide">
        <span class="visually-hidden">{{ 'sections.slider.next_slide' | t }}</span>
      </button>
      
      <div class="slideshow__buttons critical-hide" data-count="{{ section.blocks.size }}">
        {% for block in section.blocks %}
          <div id="create__slide-button--{{ block.id }}" class="slideshow__button slideshow__button--{{ section.blocks.size }}{% if block.settings.cta_link != blank %} slideshow__button--link{% endif %}">
            <button class="slideshow__button-label text-title btn--clear">
              <span class="visually-hidden">{{ 'sections.slider.slide' | t: number: forloop.index }}</span>
              {{ block.settings.theme }}
            </button>
            
            {% if block.settings.cta_link != blank %}
              <a href="{{ block.settings.cta_link }}" class="slideshow__button-cta slideshow__button-cta--mobile medium-up--hide btn" tabindex="-1">
                <span class="visually-hidden">{{ section.settings.cta | escape }}</span>
                {% include 'icon-plus' %}
              </a>
            {% else %}
              <div class="slideshow__button-cta slideshow__button-cta--mobile medium-up--hide btn" tabindex="-1">
                <span class="visually-hidden">{{ section.settings.cta | escape }}</span>
                {% include 'icon-plus' %}
              </div>
            {% endif %}
            
            {% if block.settings.cta_link != blank %}
              <a href="{{ block.settings.cta_link }}" class="slideshow__button-cta slideshow__button-cta--desktop small--hide btn" tabindex="-1">
                {{ section.settings.cta | escape }}
              </a>
            {% else %}
              <div class="slideshow__button-cta slideshow__button-cta--desktop small--hide btn" tabindex="-1">
                {{ section.settings.cta | capitalize }}
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      
      <button class="slideshow__button--previous critical-hide">
        <span class="visually-hidden">{{ 'sections.slider.previous_slide' | t }}</span>
      </button>
    {% endif %}
  </div>
  
  {% if section.blocks.size > 1 %}
    <div class="slideshow__nav">
      {% for block in section.blocks %}
        <button class="slideshow__nav-dot{% if forloop.first %} slideshow__nav-dot--active{% endif %} critical-clear">
          <span class="visually-hidden">{{ 'sections.slider.slide' | t: number: forloop.index }}</span>
        </button>
      {% endfor %}
    </div>
  {% endif %}
</div>

<!-- Modal -->
<div class="modal fade" id="create__modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Select your Photo</h5>
        <iframe frameborder="0" scrolling="no" id="create__product-data__custom-image" class="modal__image-upload" src="/pages/image-upload/">
        </iframe>
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal__body">
        ...
      </div>
      <div class="modal-footer">
        {% for p in item.properties %}
          {% unless p.last == blank %}
            <div class="line-item-property">
              {{ p.first }}:
              {% if p.last contains '/uploads/' %}
                <span class="value"><a href="{{ p.last }}">Link</a></span>
              {% else %}
                <span class="value">{{ p.last }}</span>
              {% endif %}
            </div>
          {% endunless %}
        {% endfor %}
      </div>
    
    </div>
  </div>
</div>

<div id="create__image-preloader--{{ section.id }}" class="create__image-preloader visually-hidden">
  <img id="whitespace" class="visually-hidden">
  
</div>

{% comment %}{#<!--@formatter:off-->#}{% endcomment %}
{% schema %}
{
  "name": "Create Your Photo",
  "class": "index-section index-section--slideshow",
  "max_blocks": 5,
  "settings": [
    {
      "type": "text",
      "id": "cta",
      "label": "Button labels",
      "default": "Featured Link"
    },
    {
      "type": "header",
      "content": "Overlay"
    },
    {
      "type": "checkbox",
      "id": "show_overlay",
      "label": "Show overlay",
      "default": true
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "overlay_text",
      "label": "Text color",
      "default": "#ffffff"
    },
    {
      "type": "select",
      "id": "overlay_opacity",
      "label": "Opacity",
      "default": "0.3",
      "options": [
        {
          "label": "100%",
          "value": "1"
        },
        {
          "label": "95%",
          "value": "0.95"
        },
        {
          "label": "90%",
          "value": "0.9"
        },
        {
          "label": "85%",
          "value": "0.85"
        },
        {
          "label": "80%",
          "value": "0.8"
        },
        {
          "label": "75%",
          "value": "0.75"
        },
        {
          "label": "70%",
          "value": "0.7"
        },
        {
          "label": "65%",
          "value": "0.65"
        },
        {
          "label": "60%",
          "value": "0.6"
        },
        {
          "label": "55%",
          "value": "0.55"
        },
        {
          "label": "50%",
          "value": "0.5"
        },
        {
          "label": "45%",
          "value": "0.45"
        },
        {
          "label": "40%",
          "value": "0.4"
        },
        {
          "label": "35%",
          "value": "0.35"
        },
        {
          "label": "30%",
          "value": "0.3"
        },
        {
          "label": "25%",
          "value": "0.25"
        },
        {
          "label": "20%",
          "value": "0.2"
        },
        {
          "label": "0%",
          "value": "0"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Theme Style",
      "settings": [
        {
          "type": "select",
          "id": "theme",
          "label": "Theme",
          "default": "classic",
          "options": [
            {
              "label": "Classic",
              "value": "classic"
            },
            {
              "label": "Antique",
              "value": "antique"
            },
            {
              "label": "Shoreline",
              "value": "shoreline"
            },
            {
              "label": "Frontier",
              "value": "frontier"
            }
          ]
        },
        {
          "type": "product",
          "id": "frame",
          "label": "Frame Selection"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image alignment",
          "default": "center center",
          "options": [
            {
              "label": "Top left",
              "value": "top left"
            },
            {
              "label": "Top center",
              "value": "top center"
            },
            {
              "label": "Top right",
              "value": "top right"
            },
            {
              "label": "Middle left",
              "value": "center left"
            },
            {
              "label": "Middle center",
              "value": "center center"
            },
            {
              "label": "Middle right",
              "value": "center right"
            },
            {
              "label": "Bottom left",
              "value": "bottom left"
            },
            {
              "label": "Bottom center",
              "value": "bottom center"
            },
            {
              "label": "Bottom right",
              "value": "bottom right"
            }
          ]
        },
        {
          "type": "header",
          "content": "Text"
        },
        {
          "type": "textarea",
          "id": "label",
          "label": "Label Text",
          "default": "- SEE YOUR NAME IN PHOTOS NOW! –"
        },
        {
          "type": "text",
          "id": "placeholder",
          "label": "Placeholder Text",
          "default": "Tell your story"
        },
        {
          "type": "text",
          "id": "button",
          "label": "Button Title",
          "default": "Slide title"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        }
      ]
    }
  ]
}
{% endschema %}
{% comment %}{#<!--@formatter:on-->#}{% endcomment %}
