<div data-section-id="{{ section.id }}" data-section-type="signup-section">
  <div class="signup signup--{{ section.id }}">
    <style>
      {% if section.settings.background != blank %}
      .signup--{{ section.id }} {
        background-image: url('{{ section.settings.background | img_url: "2000x" }}');
        background-size: 100%;
        background-position: center;
        background-repeat: repeat-y;
      }
      
      {% endif %}
      
      .signup__highlight--{{ section.id }} {
        background-color: {{ section.settings.highlight_background }};
      {{ section.settings.highlight_css }}
      }
      
      .signup__highlight--{{ section.id }} p {
        color: {{ section.settings.highlight_text }};
      }
    
    </style>
    <div class="page-width grid__container">
      
      {% comment %}{# Section -- Hero Background #}{% endcomment %}
      {% if section.settings.hero_image != blank %}
        <figure class="signup__image-wrapper">
          <img class="signup__image lazyload"
                  {% assign img_url = section.settings.hero_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
               src="{{ section.settings.hero_image | img_url: '300x' }}"
               data-src="{{ img_url }}"
               data-widths="[540, 900, 1512, 2048]"
               data-aspectratio="{{ section.settings.hero_image.aspect_ratio }}"
               data-sizes="auto"
               data-parent-fit="cover"
               alt="{{ section.settings.hero_image.alt | escape }}">
          
          {% comment %}{# Section -- Hero -- Highlight #}{% endcomment %}
          {% if section.settings.highlight != blank %}
            <figure class="signup__figure signup__highlight--{{ section.id }} {% if section.settings.highlight_scroll_animation != blank %}{{ section.settings.highlight_scroll_animation }}{% endif %}">
              {{ section.settings.highlight }}
            </figure>
          {% endif %}
        </figure>
      {% endif %}
      
      {% comment %}{# Section -- Blocks #}{% endcomment %}
      <div class="grid__row--sm">
        <div class="grid__item--6 grid__row" style="overflow: hidden;">
          {% for block in section.blocks %}
            {% comment %}{# Section -- Block -- Marketing (Left) #}{% endcomment %}
            {% if block.type == 'left' %}
              <style>
                .signup__item--{{ block.id }} {
                  height: {{ block.settings.grid_height }}px;
                }
                
                {% if block.settings.grid_responsive and block.settings.grid_responsive_height %}
                @media (max-width: 640px) {
                  .signup__item--{{ block.id }} {
                    height: calc({{ block.settings.grid_height }}px / 2);
                  }
                }
                
                {% endif %}
                
                {% if block.settings.background != blank %}
                .signup-item__background--{{ block.id }} {
                  background-image: url('{{ block.settings.background | img_url: "600x" }}');
                }
                
                {% endif %}
                
                {% if block.settings.overlay == true %}
                .signup-item__background--{{ block.id }}::before {
                  background-color: {{ block.settings.overlay_color }};
                  opacity: calc({{ block.settings.overlay_opacity }} / 100);
                }
                
                {% endif %}
                
                .signup-item__highlight--{{ block.id }} {
                  background-color: {{ block.settings.highlight_background }};
                {{ block.settings.highlight_css }}
                }
                
                .signup-item__highlight--{{ block.id }} p {
                  color: {{ block.settings.highlight_text }};
                }
                
                .signup-item__image--{{ block.id }} {
                {{ block.settings.image_css }}
                }
              
              
              </style>
              <div class="signup__item--{{ block.id }} {% if block.settings.grid_responsive %}grid__item--12--sm grid__item--{{ block.settings.grid_mobile }}{% else %}grid__item--12{% endif %}" {{ block.shopify_attributes }}>
                <div class="signup-item__wrapper signup-item__background--{{ block.id }} grid__row {% if block.settings.scroll_animation != blank %}{{ block.settings.scroll_animation }}{% endif %}">
                  
                  {% if block.settings.highlight != blank %}
                    <figure class="signup-item__figure signup-item__highlight--{{ block.id }} {% if block.settings.highlight_scroll_animation != blank %}{{ block.settings.highlight_scroll_animation }}{% endif %}">
                      {{ block.settings.highlight }}
                    </figure>
                  {% endif %}
                  
                  {% if block.settings.image != blank %}
                    <figure class="signup-item__figure signup-item__image--{{ block.id }}">
                      <img class="signup-item__image"
                           src="{{ block.settings.image | img_url: '1000x' }}"
                           alt="{{ block.settings.image.alt | escape }}">
                    </figure>
                  {% endif %}
                
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="grid__item--6" style="overflow: hidden;">
          {% for block in section.blocks %}
            {% if block.type == 'right' %}
              <style>
                .signup__item--{{ block.id }} {
                  height: {{ block.settings.grid_height }}px;
                }
                
                {% if block.settings.background != blank %}
                .signup-item__background--{{ block.id }} {
                  background-image: url('{{ block.settings.background | img_url: "600x" }}');
                }
                
                {% endif %}
                
                {% if block.settings.overlay == true %}
                .signup-item__background--{{ block.id }}::before {
                  background-color: {{ block.settings.overlay_color }};
                  opacity: calc({{ block.settings.overlay_opacity }} / 100);
                }
                
                {% endif %}
                
                .signup-item__content--{{ block.id }}, .signup-item__content--{{ block.id }} .signup-item__heading, .signup-item__content--{{ block.id }} .signup-item__promo {
                  color: {{ block.settings.text_color }};
                }
              
              
              </style>
              <div class="signup__item--{{ block.id }}" {{ block.shopify_attributes }}>
                <div class="signup-item__wrapper signup-item__background--{{ block.id }} grid__row {% if block.settings.scroll_animation != blank %}{{ block.settings.scroll_animation }}{% endif %}">
                  
                  <div class="signup-item__content signup-item__content--{{ block.id }} {% if block.settings.highlight_scroll_animation != blank %}{{ block.settings.highlight_scroll_animation }}{% endif %}">
                    <h2 class="signup-item__heading">
                      {{ block.settings.heading }}
                    </h2>
                    
                    <div class="signup-item__form">
                      
                      {% form 'customer' %}
                        {% if form.posted_successfully? %}
                          <div class="signup-item__promo">{{ 'general.newsletter_form.confirmation' | t }}</div>
                        {% elsif form.errors %}
                          {% for field in form.errors %}
                            <div class="signup-item__promo">{{ field }} - {{ form.errors.messages[field] }}</div>
                          {% endfor %}
                        {% else %}
                          <div class="signup-item__promo">
                            {{ 'general.newsletter_form.signup' | t }}
                          </div>
                          <input type="hidden" name="contact[tags]" value="{{ block.settings.signup }}"/>
                          <input type="hidden" name="challenge" value="false"/>
                          <input type="email"
                                 class="signup-item__input"
                                 name="contact[email]"
                                 required
                                 placeholder="{{ 'general.newsletter_form.placeholder' | t }}"/>
                          <input type='submit' class="action_button sign_up visually-hidden" value="{{ 'general.newsletter_form.submit' | t }}"/>
                          <div class="signup-item__promo">
                            {{ block.settings.promo }}
                          </div>
                        {% endif %}
                      {% endform %}
                    </div>
                  
                  
                  </div>
                </div>
              </div>
            
            
            {% endif %}
          {% endfor %}
        </div>
      </div>
      {% comment %}{#
      {% for block in section.blocks %}
        <div class="slider__slide-wrapper slide__overlay" data-block-id="{{ block.id }}" {{ block.shopify_attributes }}>
          <div class="overlay__item" data-section-id="{{ section.id }}"></div>
          <div class="testimonial__slide">
            <div class="testimonial__content text-center">
              {% if block.settings.icon != 'none' %}
                <div class="testimonial__icon">
                  {% include block.settings.icon %}
                </div>
              {% endif %}
              <h3 class="testimonial__heading">
                {{ block.settings.title }}
              </h3>
              <blockquote class="testimonial__quote">
                <p class="testimonial__body">
                  {{ block.settings.body }}
                </p>
              </blockquote>
              <cite class="testimonial__author">
                - {{ block.settings.author }}
              </cite>
            </div>
            <figure class="slider__image-wrapper">
              <img class="testimonial__image lazyload"
                      {% assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                   src="{{ block.settings.image | img_url: '1000x' }}"
                   data-src="{{ img_url }}"
                   data-widths="[540, 900, 1512, 2048]"
                   data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                   data-sizes="auto"
                   data-parent-fit="cover"
                   alt="{{ block.settings.image.alt | escape }}">
            </figure>
          </div>
        </div>
      {% endfor %}
      #}
      {% endcomment %}
    </div>
  </div>
</div>


<!--@formatter:off-->
{% comment %}<script type="application/json">{% endcomment %}
{% schema %}
/*--@formatter:on--*/
  {
    "name": "Sign-Up Blocks",
    "class": "index-section index-section--sign-up",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "Title",
        "default": "Discount Sign-up"
      },
      {
        "type": "image_picker",
        "id": "background",
        "label": "Section Background"
      },
      {
        "type": "header",
        "content": "Hero Image"
      },
      {
        "type": "image_picker",
        "id": "hero_image",
        "label": "Section Hero Image"
      },
      {
        "type": "richtext",
        "id": "highlight",
        "label": "Hero Highlight"
      },
      {
        "type": "color",
        "id": "highlight_background",
        "label": "Background Color",
        "default": "#332244"
      },
      {
        "type": "color",
        "id": "highlight_text",
        "label": "Text Color",
        "default": "#ffffff"
      },
      {
        "type": "textarea",
        "id": "highlight_css",
        "label": "Custom CSS",
        "info": "Add custom CSS to position the Highlight"
      },
      {
        "type": "text",
        "id": "highlight_scroll_animation",
        "label": "Highlight Animation Class"
      }
    ],
    "blocks": [
      {
        "type": "left",
        "name": "Marketing Content",
        "settings": [
          {
            "type": "header",
            "content": "Layout"
          },
          {
            "type": "range",
            "id": "grid_height",
            "min": 0,
            "max": 1000,
            "step": 10,
            "unit": "px",
            "label": "Block height",
            "default": 300
          },
          {
          "type": "header",
          "content": "Background"
          },
          {
            "type": "image_picker",
            "id": "background",
            "label": "Background Image"
          },
          {
            "type": "checkbox",
            "id": "overlay",
            "label": "Image Overlay",
            "default": false
          },
          {
            "type": "color",
            "id": "overlay_color",
            "label": "Overlay Color",
            "default": "#333234"
          },
          {
            "type": "range",
            "id": "overlay_opacity",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Opacity overlay effect",
            "default": 90
          },
          {
            "type": "text",
            "id": "scroll_animation",
            "label": "Animation Class"
          },
          {
            "type": "header",
            "content": "Highlight"
          },
          {
            "type": "richtext",
            "id": "highlight",
            "label": "Block Highlight"
          },
          {
            "type": "checkbox",
            "id": "grid_responsive",
            "label": "Enable Responsive Grid",
            "default": false
          },
          {
            "type": "select",
            "id": "grid_mobile",
            "label": "Mobile Grid",
            "default": "3",
            "options": [
              {
                "label": "1/6th Block",
                "value": "2"
              },
              {
                "label": "1/4th Block",
                "value": "3"
              },
              {
                "label": "1/3rd Block",
                "value": "4"
              },
              {
                "label": "2/3rd Block",
                "value": "8"
              },
              {
                "label": "1/2th Block",
                "value": "6"
              },
              {
                "label": "1 Block",
                "value": "12"
              }
            ]
          },
          {
            "type": "color",
            "id": "highlight_background",
            "label": "Highlight Background Color",
            "default": "#332244"
          },
          {
            "type": "color",
            "id": "highlight_text",
            "label": "Highlight Text Color",
            "default": "#ffffff"
          },
          {
            "type": "textarea",
            "id": "highlight_css",
            "label": "Custom CSS",
            "info": "Add custom CSS to position the Highlight"
          },
          {
            "type": "text",
            "id": "highlight_scroll_animation",
            "label": "Highlight Animation Class"
          },
          {
            "type": "header",
            "content": "Image"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Icon Image",
            "info": "PNG Icon here"
          },
          {
            "type": "textarea",
            "id": "image_css",
            "label": "Custom CSS",
            "info": "Add custom CSS to position the Graphic"
          }
        ]
      },
      {
        "type": "right",
        "name": "Email Signup",
        "settings": [
          {
            "type": "header",
            "content": "Layout"
          },
          {
            "type": "range",
            "id": "grid_height",
            "min": 0,
            "max": 1000,
            "step": 20,
            "unit": "px",
            "label": "Block height",
            "default": 300
          },
          {
          "type": "header",
          "content": "Background"
          },
          {
            "type": "image_picker",
            "id": "background",
            "label": "Background Image"
          },
          {
            "type": "checkbox",
            "id": "overlay",
            "label": "Image Overlay",
            "default": false
          },
          {
            "type": "color",
            "id": "overlay_color",
            "label": "Overlay Color",
            "default": "#333234"
          },
          {
            "type": "range",
            "id": "overlay_opacity",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Opacity overlay effect",
            "default": 90
          },
          {
            "type": "text",
            "id": "scroll_animation",
            "label": "Animation Class"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "text",
            "id": "highlight_scroll_animation",
            "label": "Highlight Animation Class"
          },
          {
            "type": "richtext",
            "id": "heading",
            "label": "Heading",
            "info": "Use Bold/Italic for different font styles"
          },
          {
            "type": "color",
            "id": "text_color",
            "label": "Text Color",
            "default": "#ffffff"
          },
          {
            "type": "header",
            "content": "Sign-Up"
          },
          {
            "type": "text",
            "id": "signup",
            "label": "Sign Up - Customer Tag",
            "default": "newsletter"
          },
          {
            "type": "richtext",
            "id": "promo",
            "label": "Promo Text",
            "info": "Use Bold/Italic for different font styles"
          }
        ]
      }
    ],
    "presets": [{
      "name": "Sign-Up",
      "category": "Section"
    }]
  }
/*--@formatter:off--*/
{% endschema %}{% comment %}</script>{% endcomment %}
<!--@formatter:on-->