<style>
  .create {
    background: url('{{ section.settings.bg_image | img_url: '2000x' }}') center center/cover no-repeat;
  }
  
  .frame--size {
    width: calc(9.5vw * {{ section.settings.default_frame_size }}+9.5vw);
  }
  
  @media (min-width: 1200px) {
    .frame--size {
      width: calc(114px * {{ section.settings.default_frame_size }}+114px);
    }
  }

</style>

<script>
  window.create_section = {{ section.settings | json }};
  {% for block in section.blocks %}
  window.create_section_block_{{ forloop.index0 }} = {{ block.settings | json }};
  {% endfor %}
</script>

{% assign frame = all_products[section.settings.frame] %}
{% for image in frame.images %}
  {% if image.src contains 'left' %}
    {% assign frame_left = image.src %}
  {% elsif image.src contains 'center' %}
    {% assign frame_center = image.src %}
  {% elsif image.src contains 'right' %}
    {% assign frame_right = image.src %}
  {% endif %}
{% endfor %}


<div data-section-id="{{ section.id }}" data-section-type="create-section">
  <div id="create-{{ section.id }}" class="create">
    
    <nav class="process">
      <button data-step-id="1" class="process__item process__step-1 process__item--active">{{ section.settings.step-1 }}</button>
      <button data-step-id="2" class="process__item process__step-2">{{ section.settings.step-2 }}</button>
      <button data-step-id="3" class="process__item process__step-3">{{ section.settings.step-3 }}</button>
      <button data-step-id="4" class="process__item process__step-4">{{ section.settings.step-4 }}</button>
    </nav>
    
    <div class="create__slider">
      <!-- ================  STEP 1 ================ -->
      <div class="create__step-1">
        <div class="frame frame--position frame--size" data-frame-size="{{ section.settings.default_frame_size }}">
          <figure id="frame" class="frame__wrapper tada scroll" data-scroll-delay="4s">
            <label for="frame__input" class="frame__label">{{ section.settings.label }}</label>
            <div class="frame__background">
              <img src="{{ frame_left | product_img_url: '2000x' }}" alt="" class="frame__image frame__image--left" crossorigin="anonymous">
              <img src="{{ frame_center | product_img_url: '2000x' }}" alt="" class="frame__image frame__image--center" crossorigin="anonymous">
              <img src="{{ frame_right | product_img_url: '2000x' }}" alt="" class="frame__image frame__image--right" crossorigin="anonymous">
              <div class="frame__image--mat" style="background-color: {{ section.settings.mat_color }}"></div>
            </div>
            <input id="frame__input" name="frame__input" type="text" class="frame__input" placeholder="{{ section.settings.placeholder }}" maxlength="9" data-section-id="{{ section.id }}" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
            <div id="frame__image-container" class="frame__letter-wrapper">
              {% for i in (0..8) %}
                <div class="frame__letter" data-letter-position="{{ i }}"></div>
              {% endfor %}
            </div>
          </figure>
          <nav class="create__button">
            <button class="button button--reset button--moema button--hidden">Reset</button>
            <button class="button button--next button--moema">{{ section.settings.action-1 }}</button>
          </nav>
        </div>
      </div>
      
      <!-- ================  STEP 2 ================ -->
      <div class="create__step-2">
        
        <div class="theme theme--position theme--size" data-section-id="{{ section.id }}">
          <div class="theme__wrapper">
            {% for block in section.blocks %}
              {% assign theme = collections[block.settings.theme] %}
              <div class="theme__item {% if forloop.first %}theme__selected{% endif %}" data-block-id="{{ block.id }}" data-theme-id="{{ block.settings.theme }}" {{ block.shopify_attributes }}>
                <img src="{{ theme.image | img_url: '300x' }}" alt="{{ block.settings.image.alt }}" class="theme__image" crossorigin="anonymous">
                <div class="theme__content">
                  <h4 class="theme__heading">{{ theme.title }}</h4>
                  <div class="theme__description">{{ theme.description }}</div>
                </div>
              </div>
            {% endfor %}
          </div>
          <nav class="create__button">
            <button class="button button--prev button--moema">Previous Step</button>
            <button class="button button--next button--moema">{{ section.settings.action-2 }}</button>
          </nav>
        </div>
      </div>
      
      
      <!-- ================  STEP 3 ================ -->
      <div class="create__step-3">
        <div class="frame frame--position frame--size" data-frame-size="{{ section.settings.default_frame_size }}">
          <h4 class="frame__instructions">{{ section.settings.instruction }}</h4>
          <figure class="frame__wrapper">
            <div class="frame__background">
              <img src="{{ frame_left | product_img_url: '2000x' }}" alt="" class="frame__image frame__image--left" crossorigin="anonymous">
              <img src="{{ frame_center | product_img_url: '2000x' }}" alt="" class="frame__image frame__image--center" crossorigin="anonymous">
              <img src="{{ frame_right | product_img_url: '2000x' }}" alt="" class="frame__image frame__image--right" crossorigin="anonymous">
              <div class="frame__image--mat" style="background-color: {{ section.settings.mat_color }}"></div>
            </div>
            <div id="frame__image-container--step-2" class="frame__letter-wrapper">
              {% for i in (0..8) %}
                <button class="frame__letter" data-letter-position="{{ i }}"></button>
              {% endfor %}
            </div>
          </figure>
          <div class="theme-change__wrapper">
            {% for block in section.blocks %}
              {% assign frame = all_products[block.settings.frame] %}
              {% for image in frame.images %}
                {% if image.src contains 'corner' %}{% assign frame_corner = image.src %}{% endif %}
              {% endfor %}
              <button class="theme-change__item" data-theme-id="{{ block.settings.frame }}">
                <img src="{{ frame_corner | img_url: '150x' }}" alt="" class="theme-change__image" crossorigin="anonymous">
              </button>
            {% endfor %}
          </div>
          <nav class="create__button">
            <button class="button button--prev button--moema">Previous Step</button>
            <button class="button button--next button--moema">{{ section.settings.action-3 }}</button>
          </nav>
        </div>
      </div>
      
      <!-- ================  STEP 4 ================ -->
      <div class="create__step-4">
        <div class="final-artwork">
          <div class="frame final-artwork__size" data-frame-size="{{ section.settings.default_frame_size }}">
            <figure id="final-artwork" class="frame__wrapper">
            </figure>
          </div>
          <div class="final-artwork__info-wrapper">
            <div class="final-artwork__info">
              <table>
                <tbody>
                <tr>
                  <th class="final-artwork__word">Word:</th>
                  <td id="final-artwork__word"></td>
                </tr>
                <tr>
                  <th class="final-artwork__format">Format:</th>
                  <td id="final-artwork__format"></td>
                </tr>
                <tr>
                  <th class="final-artwork__size">Size:</th>
                  <td id="final-artwork__size"></td>
                </tr>
                <tr>
                  <th class="final-artwork__frame">Frame:</th>
                  <td id="final-artwork__frame"></td>
                </tr>
                <tr>
                  <th class="final-artwork__price">Price:</th>
                  <td id="final-artwork__price"></td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="final-artwork__info">
              <table>
                <tbody>
                <tr class="final-artwork__input">
                  <th><label for="final-artwork__giftwrap">Gift Wrap: </label></th>
                  <td><input id="final-artwork__giftwrap" type="checkbox" class="final-artwork__giftwrap"></td>
                </tr>
                <tr class="final-artwork__input">
                  <th colspan="2"><label for="final-artwork__message">Gift Message: </label></th>
                </tr>
                <tr>
                  <td colspan="2"><textarea type="" id="final-artwork__message" class="final-artwork__message" rows="2"></textarea></td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="final-artwork__info final-artwork__info--full-width">
              <table>
                <tbody>
                <tr>
                  <th class="final-artwork__link">Unique URL:</th>
                  <td id="final-artwork__link"></td>
                </tr>
                </tbody>
              </table>
            </div>
          
          </div>
          <div class="final-artwork__sharing">
            
            <a id="final-artwork__sharing--download" download="" target="_blank" href="" class="social-sharing__link" tabindex="-1">
              {% include 'icon-download' %}
              <span class="icon__fallback-text" aria-hidden="true">Download your Artwork</span>
              <span class="visually-hidden">Download your Artwork</span>
            </a>
            
            {% if settings.share_facebook %}
              <a target="_blank" href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}" class="social-sharing__link social-sharing__link--facebook" tabindex="-1">
                {% include 'icon-facebook' %}
                <span class="icon__fallback-text" aria-hidden="true">{{ 'general.social.share_on_facebook' | t }}</span>
                <span class="visually-hidden">{{ 'general.social.alt_text.share_on_facebook' | t }}</span>
              </a>
            {% endif %}
            
            {% if settings.share_twitter %}
              <a target="_blank" href="//twitter.com/share?text={{ share_title | default: page_description | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}" class="social-sharing__link" tabindex="-1">
                {% include 'icon-twitter' %}
                <span class="icon__fallback-text" aria-hidden="true">{{ 'general.social.share_on_twitter' | t }}</span>
                <span class="visually-hidden">{{ 'general.social.alt_text.share_on_twitter' | t }}</span>
              </a>
            {% endif %}
            
            {% if settings.share_pinterest %}
              <a target="_blank" href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_permalink }}&amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ share_title | default: page_description | url_param_escape }}" class="social-sharing__link" tabindex="-1">
                {% include 'icon-pinterest' %}
                <span class="icon__fallback-text" aria-hidden="true">{{ 'general.social.share_on_pinterest' | t }}</span>
                <span class="visually-hidden">{{ 'general.social.alt_text.share_on_pinterest' | t }}</span>
              </a>
            {% endif %}
          
          </div>
        </div>
        <form  id="add-to-cart__form" action="/cart/add" enctype="multipart/form-data" method="post" class="visually-hidden">
          <input id="add-to-cart__frame" type="text" name="id[]" value="" disabled="disabled">
          {% for i in (0..8) %}
            <input id="add-to-cart__letter-{{ i }}" type="text" name="id[]" value="" data-letter-position="{{ i }}" disabled="disabled">
          {% endfor %}
          <input id="add-to-cart__properties" type="text" name="properties[id]" value="{{ 'now' | date: "%s" }}">
          {% comment %}{#<input type="hidden" name="return_to" value="/"/>#}{% endcomment %}
          <button id="submit--{{ block.id }}" type="submit" name="add">Submit</button>
        </form>
        <nav class="create__button">
          <button class="button button--prev button--moema">Previous Step</button>
          <button class="button button--next button--moema btn--loader">{{ section.settings.action-4 }}<span class="btn--loader-balls"></span></button>
        </nav>
      </div>
    </div>
  </div>
  
  
  <!-- ================ Frame for screenshot - pushed out of screen - max size for quality ================ -->
  <div class="create__artwork-to-image">
    <div class="frame frame--position frame--size" data-frame-size="{{ section.settings.default_frame_size }}">
      <figure id="frame_to_image" class="frame__wrapper">
        <div class="frame__background">
          <img src="{{ frame_left | product_img_url: '2000x' }}" alt="" class="frame__image frame__image--left" crossorigin="anonymous">
          <img src="{{ frame_center | product_img_url: '2000x' }}" alt="" class="frame__image frame__image--center" crossorigin="anonymous">
          <img src="{{ frame_right | product_img_url: '2000x' }}" alt="" class="frame__image frame__image--right" crossorigin="anonymous">
          <div class="frame__image--mat" style="background-color: {{ section.settings.mat_color }}"></div>
        </div>
        <div id="frame__image-container--frame-to-image" class="frame__letter-wrapper">
          {% for i in (0..8) %}
            <button class="frame__letter" data-letter-position="{{ i }}"></button>
          {% endfor %}
        </div>
      </figure>
    </div>
  </div>
  
  
  <!-- Modal -->
  <div class="modal fade" id="create__modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Select your Photo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal__body">
          <img data-letter-id="whitespace" id="whitespace" class="preload-image visually-hidden" crossorigin="anonymous">
        </div>
        <div class="modal-footer">
          <iframe frameborder="0" scrolling="no" id="create__product-data__custom-image" class="modal__image-upload" src="/pages/image-upload/">
          </iframe>
          <div class="modal__theme-selection">
            {% for block in section.blocks %}
              <div class="modal__theme-input">
                <input id="modal__theme-input--{{ block.settings.theme }}" type="checkbox" data-theme-id="{{ block.settings.theme }}">
                <label for="modal__theme-input--{{ block.settings.theme }}">{{ block.settings.theme | capitalize }}</label>
              </div>
            {% endfor %}
            <div class="modal__theme-input">
              <input id="modal__theme-input--all" type="checkbox" class="modal__theme-input" data-theme-id="all">
              <label for="modal__theme-input--all">All</label>
            </div>
          </div>
        </div>
      
      </div>
    </div>
  </div>
</div>

{% comment %}{#<!--@formatter:off-->#}{% endcomment %}
{% schema %}
{
  "name": "Create Your Photo",
  "class": "create-section",
  "settings": [
    {
      "type": "select",
      "id": "theme",
      "label": "Theme",
      "default": "classic",
      "options": [
        {
          "label": "Classic",
          "value": "classic"
        },
        {
          "label": "Antique",
          "value": "antique"
        },
        {
          "label": "Shoreline",
          "value": "shoreline"
        },
        {
          "label": "Frontier",
          "value": "frontier"
        }
      ]
    },
    {
      "type": "product",
      "id": "frame",
      "label": "Frame Selection"
    },
    {
      "type": "range",
      "id": "default_frame_size",
      "label": "Frame Selection",
      "min": 3,
      "max": 9,
      "step": 1,
      "unit": " x",
      "label": "Default Frame Size",
      "default": 7
    },
    {
      "type": "color",
      "id": "mat_color",
      "label": "Mat Color",
      "default": "#ffffff"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "placeholder",
      "label": "Placeholder Text",
      "default": "TYPE YOUR NAME"
    },
    {
      "type": "text",
      "id": "label",
      "label": "Subheading",
      "default": "– CREATE YOUR NAME IN PHOTOS IN 3 FUN EASY STEPS – "
    },
    {
      "type": "header",
      "content": "Process Steps"
    },
    {
      "type": "text",
      "id": "step-1",
      "label": "Step 1",
      "default": "Type your Name"
    },
    {
      "type": "text",
      "id": "action-1",
      "label": "Next Button",
      "default": "NEXT:  SELECT COLLECTION"
    },
    {
      "type": "text",
      "id": "step-2",
      "label": "Step 2",
      "default": "Select Your Theme"
    },
    {
      "type": "text",
      "id": "action-2",
      "label": "Next Button",
      "default": "NEXT:  SELECT YOUR PHOTO LETTERS"
    },
    {
      "type": "text",
      "id": "step-3",
      "label": "Step 3",
      "default": "Select Frame & Mat"
    },
    {
      "type": "text",
      "id": "action-3",
      "label": "Next Button",
      "default": "NEXT:  SELECT YOUR FRAME & MAT"
    },
    {
      "type": "text",
      "id": "instruction",
      "label": "User Instructions",
      "default": "Click on the letter to change the letter"
    },
    {
      "type": "text",
      "id": "step-4",
      "label": "Step 4",
      "default": "Confirm"
    },
    {
      "type": "text",
      "id": "action-4",
      "label": "Confirm Button",
      "default": "Add-to Cart"
    }
  ],
  "blocks": [
    {
      "type": "theme",
      "name": "Theme Style",
      "settings": [
        {
          "type": "collection",
          "id": "theme",
          "label": "Theme Selection"
        },
        {
          "type": "product",
          "id": "frame",
          "label": "Frame Selection"
        },
        {
          "type": "textarea",
          "id": "label",
          "label": "Label Text",
          "default": "- SEE YOUR NAME IN PHOTOS NOW! –"
        },
        {
          "type": "text",
          "id": "placeholder",
          "label": "Placeholder Text",
          "default": "Tell your story"
        },
        {
          "type": "text",
          "id": "button",
          "label": "Button Title",
          "default": "Slide title"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        }
      ]
    }
  ]
}
{% endschema %}
{% comment %}{#<!--@formatter:on-->#}{% endcomment %}
